$desktop: 1024px;
$wide: 1280px;

$size-small4: 0.25rem;
$size-small3: 0.50rem;
$size-small2: 0.75rem;
$size-default: 1rem;
$size-big2: 1.25rem;
$size-big3: 1.50rem;
$size-big4: 1.75rem;
$size-big5: 2rem;
