@import '../../assets/scss/variables';

.pokemon-intro {
  margin-bottom: $size-big4 * 2;
}

.pokemon-details {
  position: relative;

  .pokemon-details-exp {
    font-style: italic;
    font-weight: 900;
    font-size: $size-default;

    position: absolute;

    right: 0;
    top: -$size-big3 * 2;

    width: $size-big3 * 2;
    height: $size-big3 * 2;
    background-color: $red;
    border: $size-small2 / 2 solid $white;
    color: $white;

    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
